@model IEnumerable<TiendaMVC.Models.RecargaTienda>
@using TiendaMVC.Models;
@using System.Globalization;
@{
    ViewBag.Title = "Historial de Recargas";
    CultureInfo culture = new CultureInfo("en-US");
    var desde = String.Format("{0:dddd d MMMM, yyyy}", Convert.ToDateTime(Session["HistorialFromDate"], culture));
    var hasta = String.Format("{0:dddd d MMMM, yyyy}", Convert.ToDateTime(Session["HistorialToDate"], culture));
}

<div class="btn btn-facebook" onclick="Filtrar()">Filtrar</div>

<div class="table table-responsive">
    <table class="table">
        <tr>
            <td colspan="4" style="text-align:center;color:black">
                <div style="float:left;margin-right:10px">Desde:  @desde</div>
                <div style="float:left">Hasta: @hasta</div>
            </td>
        </tr>
        <tr>
            <th colspan="4" style="padding:5px">
                <div style="float:right;margin-right:15px;color:green">$@Session["Total"] USD</div>
                <div style="float:right;margin-right:15px">@Session["Registros"] Registros</div>
            </th>
        </tr>
        <tr style="background-color: #4d94ff !important;">
            <th>
                Asociado
            </th>
            <th>
                Número
            </th>
            <th>
                Nombre
            </th>
            <th>
                Monto
            </th>
            <th>
                Costo
            </th>
            <th>
                Fecha
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="background-color:@item.ColorError">
                @if (item.Error != null)
                {
                    if (item.Error.Length > 0)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Error)
                        </td>
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Asociado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostoXdr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>


            </tr>

        }

    </table>
</div>



@using (Html.BeginForm())

{

    @Html.AntiForgeryToken()

    <div class="modal fade" id="modalFiltro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div style="text-align:center;margin:10px">

                </div>
                <!--Body-->
                <div>
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">Filtrar Recargas</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>Desde:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input id="datepickerInicio" width="150" name="datepickerInicio" value="@Session["datepickerInicio"]" type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Hasta:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input id="datepickerFin" name="datepickerFin" value="@Session["datepickerFin"]" type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask="">
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label>Monto:</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i>$</i>
                                    </div>
                                    <input id="txtMonto" name="txtMonto" value="@Session["txtMonto"]" type="number" class="form-control">
                                </div>
                            </div>*@

                            @*<div class="form-group">
                                <label>Número:</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <input id="txtNumero" name="txtNumero" value="@Session["txtNumero"]" type="number" class="form-control">
                                </div>
                            </div>*@

                            <div class="text-center mt-4" style="margin-bottom:15px">
                                <button type="submit" class="btn btn-default " style="background-color:green !important;color:white">Buscar</button>
                            </div>

                            @*<div class="form-group" style="float:right">
                                    <div class="btn bg-blue btn-sm"> @Html.ActionLink("Recargar Lista", "Filtrar", "", new { Style = "color:white" }) </div>
                                </div>*@

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!--/.Content-->
    </div>

}

<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<script src="~/Content/js/sweetalert.min.js"></script>


<script type="text/javascript">


    function Filtrar() {
        $('#datepickerInicio').datepicker();
        $('#datepickerFin').datepicker();
        $('#modalFiltro').modal();
    };

    function Buscar() {
        var fechaIni = $('#datepickerInicio').val();
        var fechaFin = $('#datepickerFin').val();
        var monto = $('#txtMonto').val();
        $.ajax({
            url: "/RecargaTiendas/Historial/",
            data:
            {
                "fechaIni": fechaIni,
                "fechaFin": fechaFin,
                "monto": monto
            },
            type: "POST"
        })
    };

</script>

<script type="text/javascript">

    function Validate(id, event) {
        event.preventDefault();
        swal({
            title: "Está seguro de eliminar la recarga?",
            text: "No podrá revertir la acción!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Continuar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        url: "/RecargaTiendas/Delete/",
                        data:
                        {
                            "id": id
                        },
                        type: "DELETE"
                    })
                        .done(function (data) {
                            if (data == "error") {
                                swal("Error", "No se pudo conectar con el servidor!", "error");
                            }
                            else
                                sweetAlert
                                    ({
                                        title: "Ok",
                                        text: "Acción completada con exito!",
                                        type: "success"
                                    },
                                    function () {
                                        window.location.href = '/RecargaTiendas/Create/';
                                    });
                        })
                        .error(function (data) {
                            swal("Error", "No se pudo conectar con el servidor!", "error");
                        });


                }
            });
    }
</script>