@model TiendaMVC.Class.customer_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>account_info</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.i_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billing_model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billing_model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activation_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activation_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.i_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.i_distributor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.i_distributor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.batch_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.control_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.control_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iso_4217)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iso_4217)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opening_balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opening_balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cont1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cont1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h323_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h323_password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
