@model IEnumerable<TiendaMVC.Models.RecargaNauta>

@{

    Layout = null;
    var nauta = "@nauta.com.cu";
}

<div class="table table-responsive">
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)@nauta
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td>
                    <div class="btn btn-success btn-xs"> @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { Style = "color:white" }) </div>
                    <div class="btn btn-danger btn-xs"> @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { Style = "color:white" }) </div>
                </td>
            </tr>

        }

    </table>
</div>